{% extends 'base.html' %}

{% block title %}
ورود
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-card">

        <div class="auth-header">

            <h1 class="auth-title">
                ورود
            </h1>

            <p class="auth-subtitle">
                وارد حساب کاربری خود شوید
            </p>

        </div>

        <form method="post" class="auth-form">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-primary auth-submit"
            >
                ورود
            </button>

        </form>

        <div class="auth-footer">

            <span>
                حساب کاربری ندارید؟
            </span>

            <a href="{% url 'register' %}">
                ثبت‌نام کنید
            </a>

        </div>

    </div>

</section>

{% endblock %}