{% extends 'base.html' %}

{% block title %}
بازی
{% endblock %}

{% block content %}

<h2>
    شروع بازی
</h2>

<hr>

<h3>
    مسابقه:
</h3>

<p>
    {{ session.match.team1.name }}
    -
    {{ session.match.team2.name }}
</p>


<h3>
    نوع بازی:
</h3>

<p>
    {{ session.match.tournament.game_type.name }}
</p>


<h3>
    بازیکن:
</h3>

<p>
    {{ session.user.username }}
</p>


<h3>
    وضعیت:
</h3>

<p>
    {{ session.get_status_display }}
</p>

<hr>

<h3>سؤال‌های مسابقه</h3>

{% for item in questions %}

<div style="margin-bottom:25px;">

    <h4>
        {{ item.order }}.
        {{ item.question.question }}
    </h4>

    <ul>
        <li>A) {{ item.question.option_a }}</li>
        <li>B) {{ item.question.option_b }}</li>
        <li>C) {{ item.question.option_c }}</li>
        <li>D) {{ item.question.option_d }}</li>
    </ul>

</div>

{% empty %}

<p>برای این مسابقه سؤالی تعریف نشده است.</p>

{% endfor %}
<hr>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
       ثبت عملکرد
    </button>
</form>

{% endblock %}