{% extends 'base.html' %}

{% block title %}
جزئیات مسابقه
{% endblock %}

{% block content %}

<h2>

{% if match.is_complete %}

{{ match.team1.name }}
{{ match.score_team1 }}

-

{{ match.score_team2 }}
{{ match.team2.name }}

{% else %}

{{ match.team1.name }}

-

{{ match.team2.name }}

{% endif %}

</h2>


<p>
<strong>لیگ:</strong>
{{ match.tournament.name }}
</p>

<p>
<strong>نوع بازی:</strong>

{% if match.tournament.game_type %}
    {{ match.tournament.game_type.name }}
{% else %}
    تعریف نشده
{% endif %}
</p>

<hr>

<h3>وضعیت مسابقه</h3>

{% if match.is_complete %}

<p>🟢 پایان یافته</p>

{% else %}

<p>🟡 در حال برگزاری</p>

{% endif %}

<p>

{{ completed_players }}

/

{{ total_players }}

بازیکن بازی کرده‌اند.

</p>

{% if not match.is_complete %}

<p>

{{ remaining_players }}

بازیکن باقی مانده‌اند.

</p>

{% endif %}

<p>
<strong>برنده:</strong>

{% if not match.is_complete %}
    در حال برگزاری
{% elif match.winner %}
    {{ match.winner.name }}
{% else %}
    مساوی
{% endif %}
</p>


<p>
<strong>تاریخ:</strong>

{{ match.played_at }}
</p>


<hr>

<h3>{{ match.team1.name }}</h3>

<table border="1" cellpadding="6">

<tr>
    <th>بازیکن</th>
    <th>وضعیت</th>
    <th>امتیاز</th>
    <th>زمان</th>
</tr>

{% for player in team1_players %}

<tr>

<td>{{ player.user.username }}</td>

<td>

{% if player.session.status == "completed" %}

✅ انجام شده

{% else %}

⏳ در انتظار

{% endif %}

</td>

<td>

{% if player.score %}

{{ player.score.score }}

{% else %}

-

{% endif %}

</td>

<td>

{% if player.score %}

{{ player.score.completion_time }}

{% else %}

-

{% endif %}

</td>

</tr>

{% endfor %}

</table>


<br>


<h3>{{ match.team2.name }}</h3>

<table border="1" cellpadding="6">

<tr>
    <th>بازیکن</th>
    <th>وضعیت</th>
    <th>امتیاز</th>
    <th>زمان</th>
</tr>

{% for player in team2_players %}

<tr>

<td>{{ player.user.username }}</td>

<td>

{% if player.session.status == "completed" %}

✅ انجام شده

{% else %}

⏳ در انتظار

{% endif %}

</td>

<td>

{% if player.score %}

{{ player.score.score }}

{% else %}

-

{% endif %}

</td>

<td>

{% if player.score %}

{{ player.score.completion_time }}

{% else %}

-

{% endif %}

</td>

</tr>

{% endfor %}

</table>

<hr>
<h3>
گزارش مسابقه
</h3>


{% if match.report %}

<p>
{{ match.report|linebreaks }}
</p>

{% else %}

<p>
برای این مسابقه گزارشی ثبت نشده است.
</p>

{% endif %}

{% endblock %}