{% extends 'base.html' %}

{% block title %}
مسابقات
{% endblock %}

{% block content %}

<h2>لیست مسابقات</h2>

{% if matches %}

    {% for match in matches %}

        <hr>

        <p>
        <strong>لیگ:</strong>
        {{ match.tournament.name }}
        </p>

        <h3>
            <a href="{% url 'match_detail' match.id %}">

                {% if match.is_complete %}

                {{ match.team1.name }}
                {{ match.score_team1 }}

                -

                {{ match.score_team2 }}
                {{ match.team2.name }}

                {% else %}

                {{ match.team1.name }}

                vs

                {{ match.team2.name }}

                {% endif %}
            </a>
        </h3>

        <p>

            <strong>برنده:</strong>

            {% if not match.is_complete %}

            🟡 در حال برگزاری

            {% elif match.winner %}

            🟢 برنده:
            {{ match.winner.name }}

            {% else %}

            🤝 مساوی

            {% endif %}

        </p>

        <p>
            {{ match.played_at }}
        </p>

    {% endfor %}

{% else %}

    <p>هنوز مسابقه‌ای ثبت نشده است.</p>

{% endif %}

{% endblock %}