{% extends 'base.html' %}

{% block title %}
لیگ‌ها
{% endblock %}

{% block content %}

<h2>لیگ‌ها</h2>

{% if tournaments %}

{% for tournament in tournaments %}

<hr>

<h3>
    <a href="{% url 'tournament_detail' tournament.id %}">
        {{ tournament.name }}
    </a>
</h3>

<p>
    <strong>وضعیت:</strong>
    {{ tournament.get_status_display }}
</p>

<p>
    <strong>نوع بازی:</strong>
    {{ tournament.game_type.name }}
</p>

<p>
    <strong>تعداد دورها:</strong>
    {{ tournament.total_rounds }}
</p>

{% if tournament.status == 'draft' %}

<p>
    🟡 ثبت‌نام در این لیگ باز است.
</p>

{% elif tournament.status == 'active' %}

<p>
    🟢 این لیگ در حال برگزاری است.
</p>

{% elif tournament.status == 'finished' %}

<p>
    🏁 این لیگ به پایان رسیده است.
</p>

{% endif %}

<p>
    <a href="{% url 'tournament_detail' tournament.id %}">
        مشاهده جزئیات
    </a>
</p>

{% endfor %}

{% else %}

<p>
    هنوز لیگی ساخته نشده است.
</p>

{% endif %}

{% endblock %}