{% extends 'base.html' %}

{% block title %}
{{ tournament.name }}
{% endblock %}

{% block content %}

<h2>
{{ tournament.name }}
</h2>

<p>
<strong>وضعیت:</strong>
{{ tournament.get_status_display }}
</p>

<p>
<strong>نوع بازی:</strong>

{% if tournament.game_type %}
    {{ tournament.game_type.name }}
{% else %}
    تعریف نشده
{% endif %}
</p>

{% if tournament.champion %}
<hr>
<h3>
🏆 قهرمان لیگ
</h3>
<p>
<strong>
{{ tournament.champion.name }}
</strong>
</p>
{% endif %}

<hr>
<p>
<strong>تعداد تیم‌ها:</strong>
{{ teams.count }}
</p>

<p>
<strong>تعداد مسابقات:</strong>
{{ total_matches }}
</p>

<p>
<strong>مسابقات انجام شده:</strong>
{{ played_matches }}
</p>

<p>
<strong>پیشرفت لیگ:</strong>
{{ played_matches }}
/
{{ total_matches }}
مسابقه
({{ progress }}%)
</p>

<hr>

<h3>
تیم‌های لیگ
</h3>

<ul>
{% for tt in teams %}
<li>
<strong>
{{ tt.team.name }}
</strong>
—
{{ tt.team.get_points }} امتیاز
</li>
{% endfor %}
</ul>

<hr>

<h3>
مسابقات لیگ
</h3>

<ul>

{% for match in matches %}

<li>

<a href="{% url 'match_detail' match.id %}">

{% if match.is_complete %}

{{ match.team1.name }}
{{ match.score_team1 }}

-

{{ match.score_team2 }}
{{ match.team2.name }}

{% else %}

{{ match.team1.name }}

vs

{{ match.team2.name }}

{% endif %}

</a>
<br>

{% if match.is_complete %}

🟢 پایان یافته

{% else %}

🟡 در حال برگزاری

{% endif %}

</li>

{% endfor %}

</ul>

<hr>

<a href="{% url 'tournament_leaderboard' tournament.id %}">
مشاهده جدول لیگ
</a>

{% endblock %}