{% extends 'base.html' %}

{% block title %}
خانه
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <span class="hero-badge">
            پلتفرم مسابقات
        </span>

        <h1 class="hero-title">
            به مسابقه چیستا خوش آمدید
        </h1>

        {% if user.is_authenticated %}

            <p class="hero-text">
                سلام {{ user.username }}،
                برای بازی آماده ای؟!
            </p>

            <div class="hero-actions">

                <a
                    href="{% url 'tournament_list' %}"
                    class="btn btn-primary"
                >
                    مشاهده لیگ‌ها
                </a>

                <a
                    href="{% url 'my_team' %}"
                    class="btn btn-secondary"
                >
                    تیم من
                </a>

            </div>

        {% else %}

            <p class="hero-text">
                ثبت نام کن، تیم خودتو بساز
                و برای قهرمانی رقابت کن.
            </p>

            <div class="hero-actions">

                <a
                    href="{% url 'register' %}"
                    class="btn btn-primary"
                >
                    ثبت‌نام
                </a>

                <a
                    href="{% url 'login' %}"
                    class="btn btn-secondary"
                >
                    ورود
                </a>

            </div>

        {% endif %}

    </div>

</section>

{% endblock %}